* {
    margin: 0;
}

section {
    width: 100%;
    background: linear-gradient(to right, #1c1c1c, #08463B);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 36px;
    width: 100%;
}

.language-btn{
    &:hover{
        cursor: pointer;
    }
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 24px;

    >a {
        color: white;
        text-decoration: none;
        font-family: 'fira code', 'sans-serif';
        font-weight: 400;
        font-size: clamp(12px, 1.9vw, 20px);
    }

    >img {
        width: 84px;
    }
}



.logo {
    width: 160px;
    height: 100px;
    margin-left: -10px;
    transition: fill 0.3s ease;
    &:hover {
        cursor: pointer;
        >text{
            fill: transparent;
        }
    }
    >text {
        font-family: 'Karla';
        font-weight: 700;
    }
    
    .logo-text{
        fill: white;
        stroke: white;
        stroke-width: 0.5px;
    }
    
    .logo-img{
        fill: #3DCFB6;
        stroke: #3DCFB6;
        stroke-width: 1px;
    }

}

.nav-mobile{
    border: solid 1px  #3DCFB6;
    border-radius: 30px;
    background: linear-gradient(to right, #1c1c1c, #08463B);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 99;
    position: fixed;
    margin-top: 27px;
    >a {
        color: white;
        text-decoration: none;
        font-family: 'fira code', 'sans-serif';
        font-weight: 400;
        font-size: clamp(12px, 6.9vw, 20px);
        &:hover{
            color: #3DCFB6;
        }
    }
}

.menu-mobile{
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

.burger-menu{
    &:hover{
        cursor: pointer;
    }
}

.de-en{
    width: 84px;
    height: 28px;
    border: solid 1px #3DCFB6;
    border-radius: 100px;
}

@media (max-width: 750px){
    .menu-mobile{
        display: flex;
    }

    .menu{
        display: none;
    }
    .nav{
        padding: 10px 10px;
    }
    .logo {
        width: 280px;
        margin-left: -100px;
    }
}
