<section>
    <div class="content">
        <nav>
            <div class="menu">
                <img class="language-btn" (click)="global.DeEn()" src={{global.languageImg}} alt="">
                <a href="#about-me">{{global.texte[global.language].about}}</a>
                <a href="#skills">{{global.texte[global.language].skills}}</a>
                <a href="#projects">{{global.texte[global.language].projects}}</a>
            </div>
            <div>
                <a href="#hero"><svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 100">
                    <text class="logo-img" x="0" y="83" font-family="karla" font-size="60">S</text>
                    <text class="logo-img" x="18" y="80" font-family="karla" font-size="60">N</text>
                    <text class="logo-text" x="60" y="53" font-family="karla" font-size="20">SOUFIANE</text>
                    <text class="logo-text" x="60" y="76" font-family="karla" font-size="20">NOUIRA</text>
                </svg></a>
            </div>
            <div class="menu-mobile">
                <div class="burger-menu" (click)="openMenu()"><img src="/assets/img/menu.png" alt=""></div>
                <div class="nav-mobile" [ngStyle]="{display: menuDisplay}">
                    <img class="language-btn" (click)="global.DeEn()" src={{global.languageImg}} alt="">
                    <a href="#about-me" (click)="openMenu()">{{global.texte[global.language].about}}</a>
                    <a href="#skills" (click)="openMenu()">{{global.texte[global.language].skills}}</a>
                    <a href="#projects" (click)="openMenu()">{{global.texte[global.language].projects}}</a>
                </div>
            </div>
        </nav>
    </div>
</section>