<section class="overlayer" [ngStyle]="{display: projectToBeShown == ''? displayNone : displayFlex}">
    <div class="content">
        <div class="overlayer-close-btn">
            <button (click)="close()"><img src="./../../../assets/img/close_small.png" alt=""></button>
        </div>
        <div class="project-infos" [ngStyle]="{display: projectToBeShown == 'Join'?  displayFlex : displayNone}">
            <div class="left-side">
                <h4>01</h4>
                <b>Join</b>
                <h5>{{global.texte[global.language].whatIs}}</h5>
                <p>{{global.texte[global.language].joinDescription}}</p>
                <div class="tools">
                    @for (item of joinUsedTools; track $index) {
                    <div class="tool"><img src="{{item.img}} " alt="{{item.name}}">{{item.name}}</div>
                    }
                </div>
                <div class="overlayer-links-btn">
                    <button><a target="_blank" href="https://github.com/Soufianenouira/join">GitHub <img src="./../../../assets/img/arrow_outward.png"></a></button>
                    <button><a target="_blank" href="https://join.soufiane-nouira.de/">Live Test</a> <img src="./../../../assets/img/arrow_outward.png"></button>
                </div>
            </div>
            <div class="right-side">
                <img src="./../../../assets/img/join_overlayer.png" alt="">
            </div>
        </div>
        <div class="project-infos" [ngStyle]="{display: projectToBeShown == 'El Pollo Locco'?  displayFlex : displayNone}">
            <div class="left-side">
                <h4>02</h4>
                <b>El Pollo Locco</b>
                <h5>{{global.texte[global.language].whatIs}}</h5>
                <p>{{global.texte[global.language].elPolloLoccoDescription}}</p>
                
                    <div class="tools">
                        @for (item of poloUsedTools; track $index) {
                        <div class="tool"><img src="{{item.img}} " alt="{{item.name}}">{{item.name}}</div>
                        }
                    </div>
                
                <div class="overlayer-links-btn">
                    <button><a target="_blank" href="https://github.com/Soufianenouira/ElPocoLoco">GitHub <img src="./../../../assets/img/arrow_outward.png"></a></button>
                    <button><a target="_blank" href="https://el-pollo-locco.soufiane-nouira.de/">Live Test</a> <img src="./../../../assets/img/arrow_outward.png"></button>
                </div>
            </div>
            <div class="right-side">
                <img src="./../../../assets/img/pocoloco_overlayer.png" alt="">
            </div>
        </div>
        <div class="project-infos" [ngStyle]="{display: projectToBeShown == 'DA Bubble'?  displayFlex : displayNone}">
            <div class="left-side">
                <h4>03</h4>
                <b>PokéDex</b>
                <h5>{{global.texte[global.language].whatIs}}</h5>
                <p>{{global.texte[global.language].PokedexDescription}}</p>
                <div class="tools">
                    @for (item of bubbleUsedTools; track $index) {
                    <div class="tool"><img src="{{item.img}} " alt="{{item.name}}">{{item.name}}</div>
                    }
                </div>
                <div class="overlayer-links-btn">
                    <button><a target="_blank" href="https://github.com/Soufianenouira/pokedex">GitHub <img src="./../../../assets/img/arrow_outward.png"></a></button>
                    <button><a target="_blank" href="https://pokedex.soufiane-nouira.de/">Live Test</a> <img src="./../../../assets/img/arrow_outward.png"></button>
                </div>
            </div>
            <div class="right-side">
                <img src="./../../../assets/img/bubble_overlayer.png" alt="">
            </div>
        </div>
        <div class="next-project-btn" (click)="nextProject()"><a>{{global.texte[global.language].nextProject}}</a> <img src="./../../../assets/img/overlayer_arrows.png" alt=""></div>
    </div>
</section>