<section>
    <app-header></app-header>
    <div class="title padding-left">
        <p>{{global.texte[global.language].FrontendDeveloper}}</p>
        <h1>Soufiane Nouira</h1>
        <div class="title-bttns">
            <button><a target="_blank" href="#projects">{{global.texte[global.language].checkMyWork}}</a></button>
            <button><a target="_blank" href="#contact">{{global.texte[global.language].contactMe}}</a></button>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="right-container">
                <div class="arrow">↓</div>
                <div class="right-wall"></div>
            </div>
            <div class="left-container">
                <p class="email-adress"><a target="_blank" href="mailto:soufianenouira@gmail.com">soufianenouira&#64;gmail.com</a></p>
                <img class="email-img" src="./../../../assets/img/mailgreen.png" alt="">
                <a target="_blank" href="https://github.com/Soufianenouira"><img class="git-img" src="./../../../assets/img/git-green.png" alt=""></a>
                <a target="_blank" href="https://www.linkedin.com/in/soufiane-nouira-32979a247/"><img class="linkedin-img" src="./../../../assets/img/linked-in-green.png" alt=""></a>
                <div class="left-wall"></div>
            </div>
        </div>
        <div class="marquee-container">
            <div class="marquee-content">
                <p class="marquee-text padding-left">
                    {{global.texte[global.language].FrontendDeveloper}}
                </p>
                <img src="./../../../assets/img/radio_button.png" alt="">
                <p class="marquee-text">
                    {{global.texte[global.language].basedIn}}
                </p>
                <img src="./../../../assets/img/radio_button.png" alt="">
                <p class="marquee-text">
                    {{global.texte[global.language].open}}
                </p>
                <img src="./../../../assets/img/radio_button.png" alt="">
                <p class="marquee-text">
                    {{global.texte[global.language].avialable}}
                </p>
                <img src="./../../../assets/img/radio_button.png" alt="">
            </div>

            <div class="marquee-content">
                <p class="marquee-text padding-left">
                    {{global.texte[global.language].FrontendDeveloper}}
                </p>
                <img src="./../../../assets/img/radio_button.png" alt="">
                <p class="marquee-text">
                    {{global.texte[global.language].basedIn}}
                </p>
                <img src="./../../../assets/img/radio_button.png" alt="">
                <p class="marquee-text">
                    {{global.texte[global.language].open}}
                </p>
                <img src="./../../../assets/img/radio_button.png" alt="">
                <p class="marquee-text">
                    {{global.texte[global.language].avialable}}
                </p>
                <img src="./../../../assets/img/radio_button.png" alt="">
            </div>

            <div class="marquee-content">
                <p class="marquee-text padding-left">
                    {{global.texte[global.language].FrontendDeveloper}}
                </p>
                <img src="./../../../assets/img/radio_button.png" alt="">
                <p class="marquee-text">
                    {{global.texte[global.language].basedIn}}
                </p>
                <img src="./../../../assets/img/radio_button.png" alt="">
                <p class="marquee-text">
                    {{global.texte[global.language].open}}
                </p>
                <img src="./../../../assets/img/radio_button.png" alt="">
                <p class="marquee-text">
                    {{global.texte[global.language].avialable}}
                </p>
                <img src="./../../../assets/img/radio_button.png" alt="">
            </div>
        </div>
    </div>
</section>