<section>
    <div class="content">
        <div class="right-container">
            <div class="arrow">↓</div>
            <div class="right-wall"></div>
        </div>
        <div class="title">
            <p>{{global.texte[global.language].FrontendDeveloper}}</p>
            <h1>Soufiane Nouira</h1>
            <div class="title-bttns">
                <button><a href="#projects">check my work</a></button>
                <button><a href="#contact">contact me</a></button>
            </div>
        </div>
        <div class="left-container">
            <p class="email-adress">soufianenouira&#64;gmail.com</p>
            <img class="git-img" src="./../../../assets/img/git-green.png" alt="">
            <img class="linkedin-img" src="./../../../assets/img/linked-in-green.png" alt="">
            <div class="left-wall"></div>
        </div>
        <div class="marquee-container">
            <div class="marquee-content">
                <p class="marquee-text">
                    Frontend Develeper
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Based in Frankfurt am Main
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Open to work
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Available for remote work
                </p>
                <p class="marquee-text">
                    .
                </p>
            </div>

            <div class="marquee-content">
                <p class="marquee-text">
                    Frontend Develeper
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Based in Frankfurt am Main
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Open to work
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Available for remote work
                </p>
                <p class="marquee-text">
                    .
                </p>
            </div>

            <div class="marquee-content">
                <p class="marquee-text">
                    Frontend Develeper
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Based in Frankfurt am Main
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Open to work
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Available for remote work
                </p>
                <p class="marquee-text">
                    .
                </p>
            </div>
        </div>
    </div>
</section>