<section>
    <div class="content">
        <div class="right-container">
            <div class="arrow">↓</div>
            <div class="right-wall"></div>
        </div>
        <div class="title">
            <p>Frontend Developer</p>
            <h1>Soufiane Nouira</h1>
            <div class="title-bttns">
                <button>check my work</button>
                <button>contact me</button>
            </div>
        </div>
        <div class="left-container">
            <p class="email-adress">soufianenouira&#64;gmail.com</p>
            <img src="/assets/img/Component 2.png" alt="">
            <img src="/assets/img/Component 3.png" alt="">
            <div class="left-wall"></div>
        </div>
        <div class="marquee-container">
            <div class="marquee-content">
                <p class="marquee-text">
                    Frontend Develeper
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Based in Frankfurt am Main
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Open to work
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Available for remote work
                </p>
                <p class="marquee-text">
                    .
                </p>
            </div>

            <div class="marquee-content">
                <p class="marquee-text">
                    Frontend Develeper
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Based in Frankfurt am Main
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Open to work
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Available for remote work
                </p>
                <p class="marquee-text">
                    .
                </p>
            </div>

            <div class="marquee-content">
                <p class="marquee-text">
                    Frontend Develeper
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Based in Frankfurt am Main
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Open to work
                </p>
                <p class="marquee-text">
                    .
                </p>
                <p class="marquee-text">
                    Available for remote work
                </p>
                <p class="marquee-text">
                    .
                </p>
            </div>
        </div>
    </div>
</section>