<section>
    <div class="content">
        <div class="profil-img">
            <img src="./../../../assets/img/13.foto.png" alt="">
        </div>
        <div class="who-i-am">
            <h3>{{global.texte[global.language].whoIAm}}</h3>
            <div class="about-me">
                <b>{{global.texte[global.language].about}}</b>
                <p>Hey there, I'm Lukas! Write some information about yourself that is IT related.
                Why are you passionate about coding? What is your source of inspiration for improving your programming skills?</p>
                <p><img src="./../../../assets/img/located.png" alt="">Where are you based? Would you be open to working
                remotely or potentially relocating?</p>
                <p><img src="./../../../assets/img/open_minded.png" alt="">Show that you are open-minded. Are you enthusiastic
                about learning new technologies and continually improving your skills?</p>
                <p><img src="./../../../assets/img/brief.png" alt="">A brief description of your problem-solving approach. 
                    Do you learn from each challenge as you search for the most efficient or elegant solution? You can include
                    some keywords like: analytical thinking, creativity, persistence and  collaboration.</p>
            </div>
        </div>
    </div>
</section>
