<section>
    <div class="content">
        <div class="profil-img">
            <img src="./../../../assets/img/bewerbungsfoto.jpg" alt="">
        </div>
        <div class="who-i-am">
            <h3>{{global.texte[global.language].whoIAm}}</h3>
            <div class="about-me">
                <b>{{global.texte[global.language].about}}</b>
                <p>{{global.texte[global.language].heyThere}}</p>
                <p><img src="./../../../assets/img/located.png" alt="">{{global.texte[global.language].located}}</p>
                <p><img src="./../../../assets/img/open_minded.png" alt="">{{global.texte[global.language].openMinded}}</p>
                <p><img src="./../../../assets/img/brief.png" alt="">{{global.texte[global.language].brief}}</p>
            </div>
        </div>
    </div>
</section>
