<app-header></app-header>
<section>
    <div class="content">  
        <h1>Impressum</h1>
    
        <p><strong>Angaben gemäß § 5 TMG:</strong></p>
        <p><strong>Soufiane Nouira</strong><br>
        Schönbornstraße 39<br>
        60431 Frankfurt am Main<br>
        Deutschland</p>
    
        <p><strong>Kontakt:</strong><br>
        Telefon: <a href="tel:+49-176-64926060">+49 176 64926060</a><br>
        E-Mail: <a href="mailto:kontakt@soufiane-nouira.de">kontakt&#64;soufiane-nouira.de</a></p>
    
        <h2>Haftungsausschluss</h2>
        <p>Die Inhalte dieser Website wurden mit größtmöglicher Sorgfalt erstellt. Dennoch übernehmen wir keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte. Als Dienstanbieter sind wir gemäß § 7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.</p>
    
        <p><strong>Haftung für Links:</strong><br>
        Unsere Website enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.</p>
    </div>
</section>