<section>
    <div class="content">
            <div class="left">
                <a href="#hero"><svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 100">
                    <text class="logo-img" x="0" y="83" font-family="karla" font-size="60">S</text>
                    <text class="logo-img" x="18" y="80" font-family="karla" font-size="60">N</text>
                    <text class="logo-text" x="60" y="53" font-family="karla" font-size="20">SOUFIANE</text>
                    <text class="logo-text" x="60" y="76" font-family="karla" font-size="20">NOUIRA</text>
                </svg></a>
                <p>Web Developer</p>
                <p>Frankfurt am Main</p>
            </div>
            <div class="middel">
                <p>© Soufiane Nouira 2025</p>
            </div>
            <div class="right">
                <ul>
                    <li><a href="https://github.com/Soufianenouira">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/soufiane-nouira-32979a247/">LinkedIn</a></li>
                    <li><a href="mailto:soufianenouira@gmail.com">E-mail</a></li>
                    <li><a href="impressum">Legal Notice</a></li>

                </ul>
            </div>
    </div>
    <div class="below">
        <p>© Soufiane Nouira 2025</p>
    </div>
</section>