<section>
    <div class="content">
            <div>
                <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 100">
                    <text class="logo-img" x="0" y="83" font-family="Arial" font-size="80">S</text>
                    <text class="logo-img" x="18" y="80" font-family="Arial" font-size="80">N</text>
                    <text class="logo-text" x="70" y="53" font-family="Arial" font-size="30">SOUFIANE</text>
                    <text class="logo-text" x="70" y="76" font-family="Arial" font-size="30">NOUIRA</text>
                </svg>
            </div>
    </div>
</section>