<section>
    <h2>{{global.texte[global.language].colleagues}}</h2>
    <div class="slider-container">
        <div class="feedback-wrapper">
            @for (comment of feedbacks[global.language]; track $index) {
            <div [ngClass]="getCardClass($index)" [class.active]="$index === middleIndex">
                <p class="height70">{{ comment.feedback }}</p>
                <div class="feedbackBottom">
                    <div class="lineDiv"></div>
                    <span>{{ comment.name }}</span>
                </div>
            </div>
            }
        </div>

        <div class="dots">
            <button class="nav-btn left-btn" (click)="slideRight()">&#10094;</button>
            @for (_ of feedbacks[global.language]; track $index) {
            <span [class.active]="$index === middleIndex"></span>
            }
            <button class="nav-btn right-btn" (click)="slideLeft()">&#10095;</button>
        </div>
    </div>
</section>