section{
    display: flex;
    justify-content: center;
    padding-top: 144px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    >b{
        color: #3DCFB6;
        font-size: 32px;
        font-family: "fira code";
        font-weight: 700;
    }
}

.references{
    display: flex;
    justify-content: center;
    gap: 44px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    overflow-y: hidden;
    width: 100%;
    background: linear-gradient(to right, #1c1c1c, #1c1c1c00, to left, #1c1c1c00, #1c1c1c);
    padding: 50px 0;
    
}

.reference{
    min-width: 632px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px  #3DCFB6;
    border-radius: 30px;
    background-color: #3dcfb747;
    font-family: "fira code";
    padding: 48px 40px;
    >img{
        margin-top: -70px;
        margin-left: -59px;
        width: 89px;
        height: 64px;
    }
}

.left-right-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    >button{
        border: 0;
    }
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: red;
}

::-webkit-scrollbar-thumb {
    background: black;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}