html {
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin: 0;
    background-color: #1C1C1C;
}

*{
    color: white;
    text-decoration: none;
}


button{
background-color: transparent;
border: solid white 1px;
border-radius: 100px;
padding: 13px 24px;
gap: 10px;
font-family: 'karla', 'sans-serif';
font-size: clamp(16px, 4vw, 18px);
font-weight: 400;
    &:hover{
        cursor: pointer;
        border:  solid 1px #3DCFB6;
        color:  #3DCFB6;
        >a{
            color:  #3DCFB6;
        }
    }
    >a{
        text-decoration: none;
    }
}

.scroll-target {
  scroll-margin-top: 124.17px; // ersetzt padding/margin-Trick
}

